{% extends 'base.html.twig' %}

{% block title %}Quiz App!{% endblock %}

{% block menu_quiz %}
    <li class="quiz-Navigation-bar-li"><a class="quiz-a-active" href="{{ path('questions_page') }}">Quiz</a></li>
{% endblock menu_quiz %}

{% block body %}
    <div class="grid-container">
        <div class="header-grid">Header</div>
        <div class="menu-grid">
            <span style="padding-bottom: 30px">
                Menu
            </span>
            <div>

            </div>
        </div>


        <div class="main-grid">
            <h6>Hello Question Groups: ✅</h6>
            {% for group in questionGroups %}
                <div class="post-image">
                <a class="post-menu-bar" href="{{ path('questions_show', {'id': group.id}) }}">{{ group.name }}</a>
                <p class="post-description">{{ group.description }}</p>

            </div>
            {% endfor %}
        </div>

        <div class="right-grid">Right</div>
        <div class="footer-grid">Footer</div>
    </div>
{% endblock %}
