{% extends '@twig/base.html.twig' %}







{% block body %}
<body class="guest">



<div id="wrapper">
    <nav id="language">
        <ul>
            <li class="aut active"><a accesskey="d" href="?lang=de" onClick="_gaq.push(['_trackEvent', 'Language', 'Change', 'de']);">Deutsch</a></li>
            <li class="uk"><a accesskey="e" href="?lang=en" onClick="_gaq.push(['_trackEvent', 'Language', 'Change', 'en']);">Englisch</a></li>
        </ul>
    </nav>

    <div id="content">
        <!--[if IE 7]>
        <div class="oldBrowser">
            <article>
                <h1>Sie verwenden einen veralteten Browser. Bitte aktualisieren Sie Ihren Browser!</h1>
            </article>
        </div>
        <![endif]-->
        <div class="explanation">
            <article>
                <h1>Einleitung</h1>
                <p>Mit den folgenden f&uuml;nf Quizzes k&ouml;nnen Sie Ihr Wissen &uuml;ber das Klassendiagramm, Sequenzdiagramm, Zustandsdiagramm, Aktivit&auml;tsdiagramm und Anwendungsfalldiagramm testen. W&auml;hlen Sie ein Quiz aus, stellen Sie die Anzahl der Fragen ein die Sie spielen m&ouml;chten und schon k&ouml;nnen Sie beginnen! Unter <a href="login">Login</a> k&ouml;nnen Sie sich ganz einfach einen Benutzer anlegen und dann auch gespielte Quizzes zwischenspeichern und die Fragen mittels Karteikartensystem &uuml;ben. Weitere Hinweise zur Bedienung finden Sie in der <a href="help">Hilfe</a>. <br/>Viel Spa&szlig;!</p>
                <button class="close">Einleitung schlie&szlig;en</button>
            </article>
        </div>
        <noscript>
            <article>
                <h1>Sie ben&ouml;tigen Javascript um ein Quiz spielen zu k&ouml;nnen!</h1>
            </article>
        </noscript>

        <article class="question result">
            <div class="body" id="quizForm17">

                <section class="result question question1 multichoice">

                    <hgroup>
                        <h2>Frage 1:</h2>
                        <h1>         <i>Wie sollte folgender Sachverhalt abgebildet werden:</i> <br />  		Es gibt viele verschiedene Vogelarten, unter anderem Amsel, Drossel und Star. </h1>

                    </hgroup>
                    <ol class="answers">

                        <li class="wrong">
                            <fieldset>
                                <legend>Frage</legend>
                                <input type="checkbox" value="yes">
                            </fieldset>
                            <label for="question_3831_1_yes"><img class="qimage" src="https://www.big.tuwien.ac.at/oom/CD/clipping/cd_clipping16b.png" alt="cd_clipping16b.png" /> </label>
                        </li>

                        <li class="wrong">
                            <fieldset>
                                <legend>>Frage</legend>
                            </fieldset>
                            <label for="question_3833_1_yes"><img class="qimage" src="https://www.big.tuwien.ac.at/oom/CD/clipping/cd_clipping16d.png" alt="cd_clipping16d.png" /> </label>
                        </li>

                        <li class="wrong">
                            <fieldset>
                                <legend>>Frage</legend>
                            </fieldset>

                            <label for="question_3832_1_yes"><img class="qimage" src="https://www.big.tuwien.ac.at/oom/CD/clipping/cd_clipping16c.png" alt="cd_clipping16c.png" /> </label>


                        </li>

                        <li class="wrong">
                            <fieldset>
                                <legend>>Frage</legend>
                            </fieldset>
                            <label for="question_3830_1_yes"><img class="qimage" src="https://www.big.tuwien.ac.at/oom/CD/clipping/cd_clipping16a.png" alt="cd_clipping16a.png" /> </label>
                        </li>

                    </ol>
                </section>

                <nav class="back"><a href="#"></a></nav>
                <nav class="next"><a href="#"></a></nav>
            </div>

            <section class="overview">
                <nav>
                    <ol>
                        <li class="summary todo"><a href="#">Info</a></li>


                        <li class="question1 wrong"><a href="#">1</a></li>


                        <li class="question2 wrong"><a href="#">2</a></li>


                        <li class="question3 wrong"><a href="#">3</a></li>


                        <li class="question4 wrong"><a href="#">4</a></li>


                        <li class="question5 wrong"><a href="#">5</a></li>


                        <li class="question6 wrong"><a href="#">6</a></li>


                        <li class="question7 wrong"><a href="#">7</a></li>


                        <li class="question8 wrong"><a href="#">8</a></li>


                        <li class="question9 wrong"><a href="#">9</a></li>


                        <li class="question10 wrong"><a href="#">10</a></li>


                        <li class="question11 wrong"><a href="#">11</a></li>


                        <li class="question12 wrong"><a href="#">12</a></li>


                        <li class="question13 wrong"><a href="#">13</a></li>


                        <li class="question14 wrong"><a href="#">14</a></li>


                        <li class="question15 wrong"><a href="#">15</a></li>


                        <li class="question16 wrong"><a href="#">16</a></li>


                        <li class="question17 wrong"><a href="#">17</a></li>


                        <li class="question18 wrong"><a href="#">18</a></li>


                        <li class="question19 wrong"><a href="#">19</a></li>


                        <li class="question20 wrong"><a href="#">20</a></li>


                        <li class="question21 wrong"><a href="#">21</a></li>


                        <li class="question22 wrong"><a href="#">22</a></li>


                        <li class="question23 wrong"><a href="#">23</a></li>


                        <li class="question24 wrong"><a href="#">24</a></li>


                        <li class="question25 wrong"><a href="#">25</a></li>


                        <li class="question26 wrong"><a href="#">26</a></li>


                        <li class="question27 wrong"><a href="#">27</a></li>


                        <li class="question28 wrong"><a href="#">28</a></li>


                        <li class="question29 wrong"><a href="#">29</a></li>


                        <li class="question30 wrong"><a href="#">30</a></li>


                        <li class="question31 wrong"><a href="#">31</a></li>


                        <li class="question32 wrong"><a href="#">32</a></li>


                        <li class="question33 wrong"><a href="#">33</a></li>


                        <li class="question34 wrong"><a href="#">34</a></li>


                        <li class="question35 wrong"><a href="#">35</a></li>


                        <li class="question36 wrong"><a href="#">36</a></li>


                        <li class="question37 wrong"><a href="#">37</a></li>


                        <li class="question38 wrong"><a href="#">38</a></li>


                        <li class="question39 wrong"><a href="#">39</a></li>


                        <li class="question40 wrong"><a href="#">40</a></li>


                        <li class="question41 wrong"><a href="#">41</a></li>


                        <li class="question42 wrong"><a href="#">42</a></li>


                        <li class="question43 wrong"><a href="#">43</a></li>


                        <li class="question44 wrong"><a href="#">44</a></li>


                        <li class="question45 wrong"><a href="#">45</a></li>


                        <li class="question46 wrong"><a href="#">46</a></li>


                        <li class="question47 wrong"><a href="#">47</a></li>


                        <li class="question48 wrong"><a href="#">48</a></li>


                        <li class="question49 wrong"><a href="#">49</a></li>


                        <li class="question50 wrong"><a href="#">50</a></li>


                        <li class="question51 wrong"><a href="#">51</a></li>


                        <li class="question52 wrong"><a href="#">52</a></li>


                        <li class="question53 wrong"><a href="#">53</a></li>


                        <li class="question54 wrong"><a href="#">54</a></li>


                        <li class="question55 wrong"><a href="#">55</a></li>


                        <li class="question56 wrong"><a href="#">56</a></li>


                        <li class="question57 wrong"><a href="#">57</a></li>


                        <li class="question58 wrong"><a href="#">58</a></li>


                        <li class="question59 wrong"><a href="#">59</a></li>

                    </ol>
                </nav>
                <div class="legend">
                    <ul>
                        <li class="correct"><a href="#"></a><span>richtig</span></li>
                        <li class="wrong"><a href="#"></a><span>falsch</span></li>
                    </ul>
                </div>
            </section>

            <section class="other">
                <form action="/" method="get">
                    <button>Weiter</button>
                </form>
            </section>
        </article>

    </div>
</div>
{% endblock body %}