{# templates/blog/shop_homepage.html.twig #}
{% extends 'linker/linker_base.html.twig' %}

{% block main_grid %}
<div class="main-grid">
    <!-- Blog entries -->
    <div class="grid-user">
        <!-- user entry -->


        <!-- END BLOG ENTRIES -->
    </div>
    <div class="grid-friends">
        <!-- Blog entry -->
        <!-- END BLOG ENTRIES -->
    </div>
</div>
{% endblock main_grid %}